<!-- PARTIAL FOR INPUT MODAL-->
{{> tables/modal}}
<!-- PAGE HEADER WITH SELECTORS-->
<div class="jumbotron jumbotron-fluid bg-primary-light">
    <div class="container">
        <h1 class="display-4">Employee Tracker</h1>
        <p class="lead">Asset managment made simple.</p>
        <div class="row row-fluid">
            <div class="col-md-12">
                <div class="row row-fluid m-4 text-center">
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Search Employees By...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a id="query-department" data-toggle="modal" data-target="#staticBackdrop" class="dropdown-item"
                                    href="#">Department</a>
                                <a id="query-manager" data-input="modal" class="dropdown-item" href="#">Manager</a>
                                <a id="query-all" class="dropdown-item" href="#">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Update Employee...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a id="update-title" data-input="modal" class="dropdown-item" href="#">Title</a>
                                <a id="update-salary" data-input="modal" class="dropdown-item" href="#">Salary</a>
                                <a id="update-manager" data-input="modal" class="dropdown-item" href="#">Manager</a>
                                <a id="update-department" data-input="modal" class="dropdown-item"
                                    href="#">Department</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add/Remove Employee
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a id="add-employee" data-input="modal" class="dropdown-item" href="#">Add Employee</a>
                                <a id="remove-employee" data-input="modal" class="dropdown-item" href="#">Remove
                                    Employee</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DYNAMIC TABLE -->
<div class="container bg-light">
    <div class="row bg-light">
        <div class="col-md-12 px-0">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Title</th>
                        <th scope="col">Department</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Manager</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employees}}
                    {{> tables/table}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>