<div class="jumbotron jumbotron-fluid bg-primary-light">
    <div class="container">
        <h1 class="display-4">Employee Tracker</h1>
        <p class="lead">Asset managment made simple.</p>
        <div class="row row-fluid">
            <div class="col-md-12">
                <div class="row row-fluid m-4 text-center">
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Search Employees By...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Department</a>
                                <a class="dropdown-item" href="#">Manager</a>
                                <a class="dropdown-item" href="#">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Update Employee...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Title</a>
                                <a class="dropdown-item" href="#">Salary</a>
                                <a class="dropdown-item" href="#">Manager</a>
                                <a class="dropdown-item" href="#">Department</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add/Remove Employee
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Add Employee</a>
                                <a class="dropdown-item" href="#">Remove Employee</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container bg-light"> 
    <div class="row bg-light">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Title</th>
                        <th scope="col">Department</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Manager</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>firstName</td>
                        <td>lastName</td>
                        <td>title</td>
                        <td>department</td>
                        <td>Salary</td>
                        <td>Manager</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>