<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#each formSet}}
                    {{> form}}
                {{/each}}
            </div>
            <div class="modal-footer">
                <button id="query-department" type="button" class="search btn btn-secondary"
                    data-dismiss="modal">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid bg-primary-light">
    <div class="container">
        <h1 class="display-4">Employee Tracker</h1>
        <p class="lead">Asset managment made simple.</p>
        <div class="row row-fluid">
            <div class="col-md-12">
                <div class="row row-fluid m-4 text-center">
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Search Employees By...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a data-type="query" data-set="department" data-link="form" data-toggle="modal"
                                    data-target="#staticBackdrop" class="dropdown-item" href="#">Department</a>
                                <a data-type="query" data-set="manager" data-link="form" data-toggle="modal"
                                    data-target="#staticBackdrop" class="dropdown-item" href="#">Manager</a>
                                <a id="query-all" class="dropdown-item" href="#">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Update Employee...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a data-type="update" data-set="title" data-link="form" data-toggle="modal"
                                    data-target="#staticBackdrop" class="dropdown-item" href="#">Title</a>
                                <a data-type="update" data-set="salary" data-link="form" data-toggle="modal"
                                    data-target="#staticBackdrop" class="dropdown-item" href="#">Salary</a>
                                <a data-type="update" data-set="manager" data-link="form" data-toggle="modal"
                                    data-target="#staticBackdrop" class="dropdown-item" href="#">Manager</a>
                                <a data-type="update" data-set="department" data-link="form" data-toggle="modal"
                                    data-target="#staticBackdrop" class="dropdown-item" href="#">Department</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add/Remove Employee
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a data-type="create" data-link="form" data-toggle="modal" data-target="#staticBackdrop"
                                    class="dropdown-item" href="#">Add Employee</a>
                                <a data-type="remove" data-link="form" data-toggle="modal" data-target="#staticBackdrop"
                                    class="dropdown-item" href="#">Remove
                                    Employee</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DYNAMIC TABLE -->
<div class="container bg-light">
    <div class="row bg-light">
        <div class="col-md-12 px-0">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Title</th>
                        <th scope="col">Department</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Manager</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).on('load', function () {
        $('#staticBackdrop').modal('show');
    });
</script>