{{#if department}}
<form>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Which Department would you like to search?</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option value="" selected disabled>Search...</option>
            <option value="SALES">Sales</option>
            <option value="ENGINEERING">Engineering</option>
            <option value="LEGAL">Legal</option>
            <option value="FINANCE">Finance</option>
        </select>
    </div> 
</form>
{{/if}}
