<form>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Which Department would you like to search?</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option value="" selected disabled>Search...</option>
            <option value="Sales">Sales</option>
            <option value="Engineering">Engineering</option>
            <option value="Finance">Finance</option>
            <option value="Legal">Legal</option>
        </select>
    </div>
</form>
</div>
<div class="modal-footer">
    <button id= "query-department" type="button" class="search btn btn-secondary" data-dismiss="modal">Search</button>
</div>